body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(#15AEFF, #50A2FF, #7687FF, #A67EE8, #EB59FF);
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
